body{
    text-align: center;
    background-color: rgb(97, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: normal 29pt;
}
div#b1{
    padding: 6px;
    margin: auto;
    background-color: rgb(6, 255, 48);
    width: 500px;
    height: auto;
    box-shadow: 2pt 2pt 20pt;
    border-radius: 10%;
}
#res{
    padding: 5px;
    font-size: 23px;
}

